<head>
    <title>AppWall</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <h1 class="center">App Wall</h1>
    {{> form}}
    {{> posts}}
</body>
