<template name="form">
    <form>
        <div class="col s3">
            <div class="input-field">
                <input type="text" id="input_text" />
                <label for="input_text">Name</label>
            </div>

            <div class="input-field">
                <input type="text" id="textarea1" />
                <label for="textarea1">Message</label>
            </div>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>Image</span>
                <input type="file" />
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <button class="btn waves-effect">Submit</button>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        <ul>
            {{#each postList}}
            <div class="grid-item">
                {{updateMasonry}}
                <img src="{{imageIs this.ImageID}}" /> {{this.name}} {{this.message}} {{this.createdAt}}
            </div>
            {{/each}}
        </ul>
    </div>
</template>